.profile {

    background-color: #F5F6F8;
    height: 100vh;
   
}

.profile__page__content__1 {

    width: 100%;
    padding-left: 68px;
    position: relative;
    background-color: #F5F6F8;
    top: -6px;
    margin-right: 20px !important;
 
}
 
.profile__page__content {

   width: 100%;
   padding-left: 68px;
   position: relative;
   background-color:#F5F6F8;
   top: 30px;

}

.profile__page__content__open {

   width: 100%;
   position: relative;
   padding-left: 256px;
   background-color:#F5F6F8;
   top: 30px;

}

.profile__layout__container {

   background-color:#F5F6F8;
   /* height: 140vh; */

}

.profile__container {

    margin-left: 20px !important;
    margin-right: 20px !important;
    background-color: #F5F6F8;
    /* height: 130vh; */

}

.profile__container__1 {

    background-color: #F5F6F8;
    margin-right: 20px !important;
    
}

.profile__heading {

    font-family: Rubik;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #000000;

}

.profile__heading__underline {

    text-decoration: none;
    border-bottom: 2px solid #3E8CE2;

}

@media only screen and (max-width: 337px) {

    .profile__heading__underline__padding {

        padding-bottom: 0px;
   
    }

}

@media only screen and (min-width: 338px) {

    .profile__heading__underline__padding {

        padding-bottom: 5px;
   
    }

}

.profile__sub__heading {

    font-size: 14px;
    font-family: Rubik;
    font-weight: 300;
    color: #535355;

}

.profile__links {

    display: flex;
    font-family: Rubik;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;

}

@media only screen and (max-width: 507px) {

    .profile__links__layout {

        flex-direction: column;
       
    }

}

@media only screen and (min-width: 508px) {

    .profile__links__layout {

        flex-direction: row;
       
    }

}

@media only screen and (max-width: 865px) {

    .business__profile__links__layout {

        flex-direction: column;
       
    }

}

@media only screen and (min-width: 865px) {

    .business__profile__links__layout {

        flex-direction: row;
       
    }

}















