.expected__use__details {

    display: flex;
    flex-direction: row;

}

.expected__use__details__heading {

    font-family: Rubik;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.01em;
    color: #000000;

}

.auto__approval {

    display: flex;
    flex-direction: row;

}

._2iA8p44d0WZ-WqRBGcAuEV {

    border: none;
    border-bottom: 1px solid #D3D8DD;
    
}

._7ahQImyV4dj0EpcNOjnwA {

    background: linear-gradient(180deg, #1A3359 -151.43%, #1854AD 100%);

}

.lhyQmCtWOINviMz0WG_gr {

    background: linear-gradient(180deg, #1A3359 -151.43%, #1854AD 100%);

}

.expected.form-control.is-invalid {

    background-position: right calc(1.5rem + .1875rem) center !important;

}





