.personal__address {

    display: flex;
    flex-direction: row;

}

.personal__address__heading {

    font-family: Rubik;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.01em;
    color: #000000;

}

.personal__address__form input.form-control, .text-danger {

    font-size: 14px;
    font-family: Rubik;
    font-weight: 400;

}


.edit__icon {

    fill: #1a3969;
  
}

.country__drpdown.form-control.is-invalid {

    background-position: right calc(1.5rem + .1875rem) center !important;

}
