.executive__view {

    background-color: #F5F6F8;

}

.executive__page__content__1 {

    width: 100%;
    padding-left: 68px;
    position: relative;
    background-color: #F5F6F8;
    top: -6px;
    margin-right: 20px !important;
 
}
 
.executive__page__content {

   width: 100%;
   padding-left: 68px;
   position: relative;
   background-color: #F5F6F8;
   top: 30px;

}

.executive__page__content__open {

   width: 100%;
   position: relative;
   padding-left: 256px;
   background-color: #F5F6F8;
   top: 30px;

}

.executive__layout__container {

    background-color: #F5F6F8;

}

.executive__view__container {

    margin-left: 20px !important;
    margin-right: 20px !important;
    background-color: #F5F6F8;

}

.executive__view__container__1 {

    background-color: #F5F6F8;
    margin-right: 20px !important;
    
}

.executive__view__dashboard {

    font-family: Rubik;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.02em;
    color: #000000;

}

/* .bold__font {

    font-weight: bold;

} */

.space__between__flex {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.row__flex {

    display: flex;
    flex-direction: row;

}

.column__flex {

    display: flex;
    flex-direction: column;

}

.user__avatar__icon {

    height: 70px;
    width: 70px;

}

.executive__view__kool__company {

    font-family: Rubik;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.15px;

}

.executive__view__overview {

    font-family: Rubik;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #788896;
        
}

.graph__links {

    font-family: Rubik;

}

.graph__height {

    height: 200px;
    font-size: 20px;

}

.tool__tip__message {

    margin-top: 15px;
    margin-left: 0px;

}

.tool__tip {

    height: 15px;
    width: 15px;
    margin-top: 8px !important;

}

.standings__remarks {

    font-family: Poppins;
    color: #30b6a8;

}

.transfer__icon {

    height: 50px;
    width: 50px;

}

.arrow__icons {

    height: 15px;
    width: 15px;

}

.pocket__overview__card {

    background-color: #ffffff; 
    border: 2px solid #c3cfd9;
    border-radius: 0px 0px 0px 0px;

}

.pocket__heading {

    font-family: Poppins;
    font-size: 14px;
    color: #788896;
    font-weight: 500;
    margin-bottom: -5px;

}

.pocket__sub__heading {

    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;

}

.kool__company__overview {

    height: 325px;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    overflow-x: auto;

}

.financial__standing {

    font-family: Rubik;
    line-height: 30px !important;

}

.executive__view__businesses {

    font-family: Poppins;
    font-weight: 500;
    letter-spacing: 0.01em;

}

.businesses__statement {

    font-family: Poppins;
    font-weight: 500;
    font-size: 15px !important;

}

.executive__business__name {

    font-family: Poppins;
    font-size: 14px !important;
    font-weight: 500;

}

.executive__business__info {

    font-family: Poppins;
    font-size: 13px !important;
    font-weight: 500;

}

.font__400 {

    font-weight: 400;

}

.font__500 {

    font-weight: 500;

}

.gray__font {

    color: #788896;

}

.blue__font {

    color: #2c88d9;

}

.pockets__gray__font {

    color: #798997;

}

.font__12 {

    font-size: 12px;

}

.font__13 {

    font-size: 13px;

}

.divider__styling {

    margin-left: -35px;
    margin-right: -35px; 
    margin-top: 5px;

}

.inflow__outflow {

    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;

}

.inflow__state {

    background-color: #96c3ec !important;

}

.outflow__state {

    background-color: #96c3ec !important;

}

.text__light {

    color: #ffffff;

}

.text__dark {

    color: black;

}

.sub__pockets__icon {

    height: 20px;
    width: 25px;

}

.last__sub__pocket {

    margin-bottom: -15px;

}

.businesses__card {

    overflow-x: auto;

}

.businesses__card__row {

    min-width: 300px;
    overflow-x: auto;

}

.businesses__card__col {

    border-radius: 0px 0px 0px 0px;
    border: 2px solid #c3cfd9;

}

.date__created {

    color: #7b8b98;

}

.approved {

    font-family: Poppins;
    font-size: 13px;
    font-weight: 500; 
    float: right;
    color: #21b0a2;

}

.add__icon {

    height: 30px;
    width: 30px;
    margin-top: -17px;

}

/* @media only screen and (min-width: 540px) { */

    .edit {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .date {

        display: flex;
        flex-direction: row;

    }

@media only screen and (min-width: 727px) { 

    .create__business__account {

       display: flex;
       flex-direction: row;
       justify-content: space-between;
       margin-top: 40px;

    }

}

@media only screen and (min-width: 683px) and (max-width: 726px) { 

    .create__business__account {

       display: flex;
       flex-direction: row;
       justify-content: space-between;
       margin-top: 30px;

    }

}

@media only screen and (min-width: 598px) and (max-width: 682px) { 

    .create__business__account {

       display: flex;
       flex-direction: row;
       justify-content: space-between;
       margin-top: 40px;

    }

}

@media only screen and (min-width: 576px) and (max-width: 597px) { 

    .create__business__account {

       display: flex;
       flex-direction: row;
       justify-content: space-between;
       margin-top: 30px;

    }

}

@media only screen and (max-width: 575px) { 

    .create__business__account {

       display: flex;
       flex-direction: row;
       justify-content: space-between;
       margin-top: 10px;

    }

}

.business__account {

    font-family: Poppins;
    font-weight: 500;

}
